node_modules
.vscode/
**/__pycache__
**/dist/*
.env
!client/dist/brand*
htmlcov/
**/.DS_Store
.pytest_cache/
docker/database
app.zip

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
