[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# Web framework
flask = "*"
# Database adapter
psycopg2-binary = "*"
# ORM
sqlalchemy = "*"
# WSGI server
gunicorn = "*"
# Serializer and validator
marshmallow = "*"
# Marshmallow Enum (de)serializer
marshmallow-enum = "*"
# Environment variables loader
python-dotenv = "*"

[dev-packages]
# Style guide
pep8 = "*"
# Formatter
yapf = "*"
# Linters
pylint = "*"
flake8 = "*"
# PYTONPATH pytest plugin
pytest-pythonpath = "*"
# CORS
flask-cors = "*"
# DB migration
flask-migrate = "*"
# API expressiveness and documentation
flask-restplus = "*"
# Testing framework
pytest = "*"
# Pytest coverage reporting tool
pytest-cov = "*"
# Coveralls coverage reporter
coveralls = "*"

[requires]
python_version = "3.7"
