[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# Web framework
flask = "*"
# Database adapter
psycopg2-binary = "*"
# ORM
sqlalchemy = "*"
# WSGI server
gunicorn = "*"
# Serializer and validator
marshmallow = "*"
# Environment variables loader
python-dotenv = "*"
marshmallow-enum = "*"

[dev-packages]
# Style guide
pep8 = "*"
# Formatter
yapf = "*"
# Linters
pylint = "*"
flake8 = "*"
# Testing framework
pytest = "*"
# CORS
flask-cors = "*"
# DB migration
flask-migrate = "*"
# Flask debug toolbar
flask-debugtoolbar = "*"
# API expressiveness and documentation
flask-restplus = "*"

[requires]
python_version = "3.7"
