<!-- Top strip with the search bar -->
<div class="request-list__top-bar">
    <div class="request-list__requests-strip">REQUESTS</div>
    <div class="request-list__search-bar">
        <div class="request-list__search-icon" data-bind="html: search"></div>
        <div class="request-list__search-bar-input-container">
            <input type="text" placeholder="Search" />
        </div>
    </div>
</div>

<!-- List content -->
<div class="request-list__content">
    <ul class="request-list__days">
        <li class="request-list__day">
            <div class="request-list__date-bar">
                <div class="request-list__dropdown-icon" data-bind="html: dropdown"></div>
                <div class="request-list__date">Today</div>
                <div class="request-list__count">(13)</div>
            </div>
            <ul class="request-list__entries">
                <li class="request-list__entry">
                    <div class="request-list__completed-icon" data-bind="html: check"></div>
                    <div class="request-list__issue-number">#20</div>
                    <div class="request-list__description">Request for a feature that makes options visible so that</div>
                    <div class="request-list__priority-label">1</div>
                    <div class="request-list__time">15:00</div>
                    <div class="request-list__client-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                </li>
                <li class="request-list__entry checked">
                    <div class="request-list__completed-icon" data-bind="html: check"></div>
                    <div class="request-list__issue-number">#20</div>
                    <div class="request-list__description">Request for a feature that makes options visible so that</div>
                    <div class="request-list__priority-label">5</div>
                    <div class="request-list__time">15:00</div>
                    <div class="request-list__client-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                </li>
            </ul>
        </li>
        <li class="request-list__day">
            <div class="request-list__date-bar">
                <div class="request-list__dropdown-icon" data-bind="html: dropdown"></div>
                <div class="request-list__date">Yesterday</div>
                <div class="request-list__count">(13)</div>
            </div>
            <ul class="request-list__entries">
                <li class="request-list__entry">
                    <div class="request-list__completed-icon" data-bind="html: check"></div>
                    <div class="request-list__issue-number">#20</div>
                    <div class="request-list__description">Request for ------------===================-------- a feature that makes options visible so that</div>
                    <div class="request-list__priority-label">1</div>
                    <div class="request-list__time">15:00</div>
                    <div class="request-list__client-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                </li>
                <li class="request-list__entry checked">
                    <div class="request-list__completed-icon" data-bind="html: check"></div>
                    <div class="request-list__issue-number">#20</div>
                    <div class="request-list__description">Request for a feature that makes options visible so that</div>
                    <div class="request-list__priority-label">5</div>
                    <div class="request-list__time">15:00</div>
                    <div class="request-list__client-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                </li>
            </ul>
        </li>
        <li class="request-list__day">
            <div class="request-list__date-bar">
                <div class="request-list__dropdown-icon" data-bind="html: dropdown"></div>
                <div class="request-list__date">Yesterday</div>
                <div class="request-list__count">(13)</div>
            </div>
            <ul class="request-list__entries">
                <li class="request-list__entry">
                    <div class="request-list__completed-icon" data-bind="html: check"></div>
                    <div class="request-list__issue-number">#20</div>
                    <div class="request-list__description">Request for a feature that makes options visible so that</div>
                    <div class="request-list__priority-label">1</div>
                    <div class="request-list__time">15:00</div>
                    <div class="request-list__client-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                </li>
                <li class="request-list__entry checked">
                    <div class="request-list__completed-icon" data-bind="html: check"></div>
                    <div class="request-list__issue-number">#20</div>
                    <div class="request-list__description">Request for a feature that makes options visible so that</div>
                    <div class="request-list__priority-label">5</div>
                    <div class="request-list__time">15:00</div>
                    <div class="request-list__client-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                </li>
            </ul>
        </li>
        <li class="request-list__day">
            <div class="request-list__date-bar">
                <div class="request-list__dropdown-icon" data-bind="html: dropdown"></div>
                <div class="request-list__date">Yesterday</div>
                <div class="request-list__count">(13)</div>
            </div>
            <ul class="request-list__entries">
                <li class="request-list__entry">
                    <div class="request-list__completed-icon" data-bind="html: check"></div>
                    <div class="request-list__issue-number">#20</div>
                    <div class="request-list__description">Request for a feature that makes options visible so that</div>
                    <div class="request-list__priority-label">1</div>
                    <div class="request-list__time">15:00</div>
                    <div class="request-list__client-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                </li>
                <li class="request-list__entry checked">
                    <div class="request-list__completed-icon" data-bind="html: check"></div>
                    <div class="request-list__issue-number">#20</div>
                    <div class="request-list__description">Request for a feature that makes options visible so that</div>
                    <div class="request-list__priority-label">5</div>
                    <div class="request-list__time">15:00</div>
                    <div class="request-list__client-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                </li>
            </ul>
        </li>
        <li class="request-list__day">
            <div class="request-list__date-bar">
                <div class="request-list__dropdown-icon" data-bind="html: dropdown"></div>
                <div class="request-list__date">Yesterday</div>
                <div class="request-list__count">(13)</div>
            </div>
            <ul class="request-list__entries">
                <li class="request-list__entry">
                    <div class="request-list__completed-icon" data-bind="html: check"></div>
                    <div class="request-list__issue-number">#20</div>
                    <div class="request-list__description">Request for a feature that makes options visible so that</div>
                    <div class="request-list__priority-label">1</div>
                    <div class="request-list__time">15:00</div>
                    <div class="request-list__client-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                </li>
                <li class="request-list__entry checked">
                    <div class="request-list__completed-icon" data-bind="html: check"></div>
                    <div class="request-list__issue-number">#20</div>
                    <div class="request-list__description">Request for a feature that makes options visible so that</div>
                    <div class="request-list__priority-label">5</div>
                    <div class="request-list__time">15:00</div>
                    <div class="request-list__client-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

<!-- Add button -->
<button class="request-list__add-button">
    <div class="sidebar__icon" data-bind="html: plus"></div>
</button>
