<!-- Top bar containing issue id -->
<div class="request-details__top-bar">
    <div class="request-details__completed completed">In progress</div>
    <div class="request-details__issue-number">#22</div>
</div>

<!-- Request details -->
<div class="request-details__content">
    <!-- Request title -->
    <div class="request-details__title-container">
        <div class="request-details__title">Request for a feature that makes options visible so that makes options visible</div>
        <div class="request-details__priority-label">5</div>
    </div>

    <!-- Labels  -->
    <ul class="request-details__labels">
        <li class="request-details__label">policies</li>
    </ul>

    <!-- Client and date details -->
    <div class="request-details__client-date-container">
        <div class="request-details__client-details">
            <div class="request-details__client-avatar">
                <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
            </div>
            <div class="request-details__client-name-container">
                <div class="request-details__requested-by">Requested by</div>
                <div class="request-details__client-name">Client A</div>
            </div>
        </div>
        <div class="request-details__date-container">
            <div class="request-details__due-date">Due date</div>
            <div class="request-details__date">16 April 2019</div>
        </div>
    </div>

    <!-- Request description -->
    <div class="request-details__description-container">
        <div class="request-details__description-top-bar">
            <div class="request-details__description-icon" data-bind="html: description"></div>
            <div class="request-details__description-title">Description</div>
            <div class="request-details__dropdown-icon" data-bind="html: dropdown"></div>
        </div>
        <div class="request-details__description-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
        </div>
    </div>

    <!-- Request comment -->
    <div class="request-details__comment-container">
        <div class="request-details__comment-top-bar">
            <div class="request-details__comment-icon" data-bind="html: comment"></div>
            <div class="request-details__comment-title">Comments</div>
            <div class="request-details__dropdown-icon" data-bind="html: dropdown"></div>
        </div>
        <ul class="request-details__comments">
            <li class="request-details__comment">
                <div class="request-details__sender-date-details">
                    <div class="request-details__sender-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                    <div class="request-details_sender-date-container">
                        <div class="request-details__sender">Steve</div>
                        <div class="request-details__comment-date-container">
                            <div class="request-details__comment-date">16 April 2019</div>
                            <div class="request-details__comment-time">| 13:00</div>
                        </div>
                    </div>
                </div>
                <div class="request-details__comment-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </div>
                <div class="border"></div>
            </li>

            <li class="request-details__comment">
                <div class="request-details__sender-date-details">
                    <div class="request-details__sender-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                    <div class="request-details_sender-date-container">
                        <div class="request-details__sender">Steve</div>
                        <div class="request-details__comment-date-container">
                            <div class="request-details__comment-date">16 April 2019</div>
                            <div class="request-details__comment-time">| 13:00</div>
                        </div>
                    </div>
                </div>
                <div class="request-details__comment-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </div>
                <div class="border"></div>
            </li>
            <li class="request-details__comment">
                <div class="request-details__sender-date-details">
                    <div class="request-details__sender-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                    <div class="request-details_sender-date-container">
                        <div class="request-details__sender">Steve</div>
                        <div class="request-details__comment-date-container">
                            <div class="request-details__comment-date">16 April 2019</div>
                            <div class="request-details__comment-time">| 13:00</div>
                        </div>
                    </div>
                </div>
                <div class="request-details__comment-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </div>
                <div class="border"></div>
            </li>
            <li class="request-details__comment">
                <div class="request-details__sender-date-details">
                    <div class="request-details__sender-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                    <div class="request-details_sender-date-container">
                        <div class="request-details__sender">Steve</div>
                        <div class="request-details__comment-date-container">
                            <div class="request-details__comment-date">16 April 2019</div>
                            <div class="request-details__comment-time">| 13:00</div>
                        </div>
                    </div>
                </div>
                <div class="request-details__comment-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </div>
                <div class="border"></div>
            </li>
            <li class="request-details__comment">
                <div class="request-details__sender-date-details">
                    <div class="request-details__sender-avatar">
                        <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
                    </div>
                    <div class="request-details_sender-date-container">
                        <div class="request-details__sender">Steve</div>
                        <div class="request-details__comment-date-container">
                            <div class="request-details__comment-date">16 April 2019</div>
                            <div class="request-details__comment-time">| 13:00</div>
                        </div>
                    </div>
                </div>
                <div class="request-details__comment-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </div>
                <div class="border"></div>
            </li>

        </ul>
    </div>

    <!-- Input box -->
    <form class="request-details__input-container">
        <input class="request-details__input" type="text" placeholder="Add a comment"/>
    </form>
</div>
