<!-- Top bar containing issue id -->
<div class="request-details__top-bar">
    <div class="request-details__completed resolved" data-bind="css2: { resolved: request().resolved }, text: getStateText()"></div>
    <div class="request-details__issue-number" data-bind="text: `#${request().id}`"></div>
</div>
<!-- Request details -->
<div class="request-details__content">
    <!-- Request title -->
    <div class="request-details__title-container">
        <div class="request-details__title" data-bind="text: request().title"></div>
        <div class="request-details__priority-label" data-bind="text: request().priority, style: { backgroundColor: getPriorityColor(request().priority) }"></div>
    </div>
    <!-- Labels  -->
    <ul class="request-details__labels">
        <li class="request-details__label" data-bind="text: request().product_area">policies</li>
    </ul>
    <!-- Client and date details -->
    <div class="request-details__client-date-container">
        <div class="request-details__client-details">
            <div class="request-details__client-avatar">
                <img alt="staff-avatar" data-bind="attr: { src: getAvatar(request().client.avatar_url) }" />
            </div>
            <div class="request-details__client-name-container">
                <div class="request-details__requested-by">Requested by</div>
                <div class="request-details__client-name" data-bind="text: request().client.username"></div>
            </div>
        </div>
        <div class="request-details__date-container">
            <div class="request-details__due-date">Due date</div>
            <div class="request-details__date" data-bind="text: formatDate(request().created_at)"></div>
        </div>
    </div>
    <!-- Request description -->
    <div class="request-details__description-container">
        <div class="request-details__description-top-bar">
            <div class="request-details__description-icon" data-bind="html: descriptionIcon"></div>
            <div class="request-details__description-title">Description</div>
            <div class="request-details__dropdown-icon" data-bind="html: dropdownIcon"></div>
        </div>
        <div class="request-details__description-text" data-bind="text: request().description"></div>
    </div>
    <!-- Request comment -->
    <div class="request-details__comment-container">
        <div class="request-details__comment-top-bar">
            <div class="request-details__comment-icon" data-bind="html: commentIcon"></div>
            <div class="request-details__comment-title">Comments</div>
            <div class="request-details__dropdown-icon" data-bind="html: dropdownIcon"></div>
        </div>
        <ul class="request-details__comments" data-bind="foreach: request().comments">
            <li class="request-details__comment">
                <div class="request-details__sender-date-details">
                    <div class="request-details__sender-avatar">
                        <img alt="staff-avatar" data-bind="attr: { src: $parent.getAvatar(staff.avatar_url) }" />
                    </div>
                    <div class="request-details_sender-date-container">
                        <div class="request-details__sender" data-bind="text: staff.username"></div>
                        <div class="request-details__comment-date-container">
                            <div class="request-details__comment-date" data-bind="text: $parent.formatDate(created_at)"></div>
                            <div class="request-details__comment-time" data-bind="text: `| ${$parent.formatTime(created_at)}`"></div>
                        </div>
                    </div>
                </div>
                <div class="request-details__comment-text" data-bind="text: message"></div>
                <div class="border"></div>
            </li>
        </ul>
    </div>
    <!-- Input box -->
    <div class="request-details__input-container">
        <input class="request-details__input" type="text" placeholder="Add a comment" data-bind="value: message, valueUpdate: 'keyup', event: { keyup: postComment }"/>
    </div>
</div>
