<!-- Profile avatar -->
<div class="sidebar__avatar">
    <img src="../../assets/icons/placeholder.png" alt="staff-avatar"/>
</div>

<!-- Sidebar icons -->
<div class="sidebar__icons">
    <div class="sidebar__icon-container disabled" id="profile">
        <div class="sidebar__side-strip"></div>
        <div class="sidebar__icon" data-bind="html: profile"></div>
    </div>
    <div class="sidebar__icon-container disabled" id="message">
        <div class="sidebar__side-strip"></div>
        <div class="sidebar__icon" data-bind="html: message"></div>
    </div>
    <div class="sidebar__icon-container" id="request" data-bind="click: reload">
        <div class="sidebar__side-strip"></div>
        <div class="sidebar__icon" data-bind="html: request"></div>
    </div>
    <div class="sidebar__icon-container disabled" id="calendar">
        <div class="sidebar__side-strip"></div>
        <div class="sidebar__icon" data-bind="html: calendar"></div>
    </div>
    <div class="sidebar__icon-container disabled" id="stats">
        <div class="sidebar__side-strip"></div>
        <div class="sidebar__icon" data-bind="html: stats"></div>
    </div>
</div>

